# =========================
# Environment variables
# =========================
# Ignore real env files (contain secrets)
.env
.env.docker
.env.standalone

# Allow example templates
!.env.example
!.env.docker.example
!.env.standalone.example

.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs
.vscode/
.idea/

# Turborepo
.turbo/